@import url("./common.css");
/* index.css */

.visual{ position:relative; }
.visual > img{width:100%;}
.visual > article{
    position:absolute;
    left:50%; bottom:0;
    background-color: #fff;
    padding:40px;
    transform: translate(-50%,10%);
    /* box-shadow: x y blur color; */
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.visual:hover > article{
    bottom:50%;
    transform: translate(-50%, 50%);
}

.visual > article > h2{
    margin:10px 0 30px 0;
    text-transform: uppercase;
    /* 
        uppercase(대문자), 
        capitalize(단어첫글자), 
        lowercase(소문자) 
    */
}
.visual > article > figure{}
.visual > article > figure img{width:100%;}
.visual > article > figure figcaption{
    text-align: center;
}
.visual > article > figure figcaption p{
    margin:20px 0;
}

.btn{
    background-color: #222;
    color:#fff;
    text-transform: uppercase;
    padding:10px 30px;
    display: inline-block;
}
